@function px($px) {
	@return $px / 16 * 1rem;
}

@mixin circle($size) {
	width: $size;
	height: $size;
	border-radius: $size / 2;
}

@mixin flex($direction, $alignment, $justification: flex-start) {
	display: flex;
	flex-direction: $direction;
	align-items: $alignment;
	justify-content: $justification;
}

@mixin absolute-fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin absolute-center($size: null) {
	position: absolute;

	@if $size == null {
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	@else {
		top: calc(50% - #{$size / 2});
		left: calc(50% - #{$size / 2});
	}
}

@mixin vcenter-text {
	position: relative;
	top: -0.1333em;
	line-height: 1;
}
