@import "~@angular/material/theming";

@mixin lifx-app-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$primary: map-get($config, primary);
	$foreground: map-get($config, foreground);
	$background: map-get($config, background);

	.lifx-group {
		background: mat-color($background, 700);

		&__header {
			mix-blend-mode: screen;
		}
			&__summary {
				background: mat-color($background, 600);
			}
				&__icon {
					color: mat-color($foreground, icon);
				}
				&__badge {
					background: black;
				}
	}
}
