@import "~@angular/material/theming";

@mixin lifx-app-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$primary: map-get($config, primary);
	$foreground: map-get($config, foreground);

	.lifx-group {
		&__icon {
			color: mat-color($foreground, icon);
		}

		&__bulb-names {
			color: mat-color($foreground, disabled);
			text-shadow: 0 1px 4px #0006;
		}
	}
}
