<ng-container *ngIf="(groups$ | async) as groups">
<ng-container *ngIf="(bulbs$ | async) as bulbs">

<main class="main-content">

	<mat-expansion-panel class="lifx-group"
		*ngFor="let group of groups"
		#panel="matExpansionPanel"
	>
		<mat-expansion-panel-header class="lifx-group__header">

			<mat-panel-title class="lifx-group__title">
				<mat-icon class="lifx-group__icon">
					{{ group | groupIcon }}
				</mat-icon>
				<span>{{ group }}</span>
			</mat-panel-title>

			<mat-panel-description>
				<lifx-icon-toggle
					id="{{ group }}_sync-toggle"
					color="accent"
					icon="link"
					uncheckedIcon="link_off"
					label="Synchronize these lights"
					description="When synchronized, all lights in this group will be
						treated as one. Unsyncing will allow adjustment and scheduling
						of each light independently."
					[(value)]="groupLocks[group]"
				></lifx-icon-toggle>
			</mat-panel-description>

		</mat-expansion-panel-header>
		<section class="lifx-group__body" *matExpansionPanelContent>

			<ng-container *ngIf="groupLocks[group]">
				<div class="lifx-group__bulb-names">
					{{ bulbs[group] | commaSep : 'name' }}
				</div>
				<lifx-color class="lifx-group__color"
					[id]="group"
					[(ngModel)]="groupColors[group]"
					(ngModelChange)="setGroupColor(group, $event)"
				></lifx-color>
			</ng-container>

			<ng-container *ngIf="!groupLocks[group]">
				<lifx-bulb class="lifx-group__bulb"
					*ngFor="let bulb of bulbs[group]
						trackBy: trackById"
					[id]="bulb.id"
					[readOnly]="groupLocks[group]"
				></lifx-bulb>
			</ng-container>

		</section>
	</mat-expansion-panel>

</main>

</ng-container>
</ng-container>
