@import "~@angular/material/theming";

@mixin lifx-icon-toggle-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$primary: map-get($config, primary);
	$accent: map-get($config, accent);
	$foreground: map-get($config, foreground);

	.lifx-icon-toggle {
		color: mat-color($foreground, disabled);

		&.primary {
			--active-color: #{mat-color($primary)};
			--active-ripple: #{mat-color($primary, $opacity: 0.1)};
		}
		&.accent {
			--active-color: #{mat-color($accent)};
			--active-ripple: #{mat-color($accent, $opacity: 0.1)};
		}

		&.checked {
			color: var(--active-color);
		}

		&.checked &__focus-ripple .mat-ripple-element {
			background-color: var(--active-ripple);
		}
		&__active-ripple .mat-ripple-element {
			background-color: var(--active-ripple);
		}
	}
}
