@import "lib";

:host {
	@include flex(row, center, center);
}

.light-stack {
	@include circle(16px);
	position: relative;

	&__element {
		@include circle(16px);
		@include absolute-fill;
	}

	&__color + &__color {
		mix-blend-mode: color-dodge;
	}

	&__sheen {
		box-shadow: inset 0 0 4px #FFF4;
	}
}
