@import "lib";

.lifx-titlebar {
	@include flex(row, center);
	height: 48px;
	padding: 0 8px 0 16px;

	&__logo {
		height: 20px;
	}

	&__drag-region {
		flex: 1 0 0;
		align-self: stretch;
		-webkit-app-region: drag;
	}

	&__controls .mat-icon-button {
		font-size: 20px;
	}
}
