@import "~@angular/material/theming";

@import "./app/app.theme";
@import "./app/bulb/bulb.theme";
@import "./app/color/color.theme";
@import "./app/icon-toggle/icon-toggle.theme";
@import "./app/knob/knob.theme";
@import "./app/titlebar/titlebar.theme";

@include mat-core();

$lifx-primary: (
	50:  #F2E7FE,
	100: #DBB2FF,
	200: #BB86FC,
	300: #985EFF,
	400: #7F39FB,
	500: #6200EE,
	600: #5600E8,
	700: #3700B3,
	800: #30009C,
	900: #23036A,
	A100: #BB86FC,
	A200: #7F39FB,
	A400: #6200EE,
	A700: #3700B3,
	contrast: (
		50:  $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	)
);

$lifx-accent: (
	50:  #C8FFF4,
	100: #70EFDE,
	200: #03DAC5,
	300: #00C4B4,
	400: #00B3A6,
	500: #01A299,
	600: #019592,
	700: #018786,
	800: #017374,
	900: #005457,
	A100: #C8FFF4,
	A200: #03DAC5,
	A400: #00B3A6,
	A700: #018786,
	contrast: (
		50:  $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	)
);

$lifx-background: (
	50:  #717178,
	100: #5E5E66,
	200: #4D4C54,
	300: #3B3B43,
	400: #2B2B33,
	500: #23242A,
	600: #1C1C21,
	700: #141419,
	800: #0A0A0F,
	900: #000000,
	contrast: (
		50:  $light-primary-text,
		100: $light-primary-text,
		200: $light-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
	)
);

$lifx-foreground: (
	50:  #EBEBED,
	100: #D3D3D8,
	200: #BCBCC2,
	300: #A5A5AC,
	400: #8D8D96,
	500: #787884,
	600: #646471,
	700: #51515C,
	800: #3E3E48,
	900: #2B2B33,
	contrast: (
		50:  $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
	)
);

$mat-dark-theme-background: (
	50:  map-get($lifx-background, 50),
	100: map-get($lifx-background, 100),
	200: map-get($lifx-background, 200),
	300: map-get($lifx-background, 300),
	400: map-get($lifx-background, 400),
	500: map-get($lifx-background, 500),
	600: map-get($lifx-background, 600),
	700: map-get($lifx-background, 700),
	800: map-get($lifx-background, 800),
	900: map-get($lifx-background, 900),
	status-bar:               map-get($lifx-background, 900),
	app-bar:                  map-get($lifx-background, 800),
	background:               map-get($lifx-background, 800),
	hover:                    mat-color($lifx-primary, 200, 0.04),
	card:                     map-get($lifx-background, 500),
	dialog:                   map-get($lifx-background, 500),
	disabled-button:          map-get($lifx-background, 400),
	raised-button:            map-get($lifx-background, 400),
	focused-button:           mat-color($lifx-primary, 200, 0.12),
	selected-button:          mat-color($lifx-primary, 200, 0.08),
	selected-disabled-button: map-get($lifx-background, 800),
	disabled-button-toggle:   map-get($lifx-background, 900),
	unselected-chip:          map-get($lifx-background, 400),
	disabled-list-option:     map-get($lifx-background, 700),
	tooltip:                  map-get($lifx-background, 400),
);

$mat-dark-theme-foreground: (
	50:  map-get($lifx-foreground, 50),
	100: map-get($lifx-foreground, 100),
	200: map-get($lifx-foreground, 200),
	300: map-get($lifx-foreground, 300),
	400: map-get($lifx-foreground, 400),
	500: map-get($lifx-foreground, 500),
	600: map-get($lifx-foreground, 600),
	700: map-get($lifx-foreground, 700),
	800: map-get($lifx-foreground, 800),
	900: map-get($lifx-foreground, 900),
	base:              map-get($lifx-foreground, 50),
	divider:           map-get($lifx-foreground, 700),
	dividers:          map-get($lifx-foreground, 700),
	disabled:          map-get($lifx-foreground, 700),
	disabled-button:   rgba(white, 0.3),
	disabled-text:     map-get($lifx-foreground, 700),
	elevation:         black,
	hint-text:         map-get($lifx-foreground, 600),
	secondary-text:    map-get($lifx-foreground, 300),
	icon:              map-get($lifx-foreground, 400),
	icons:             map-get($lifx-foreground, 400),
	text:              map-get($lifx-foreground, 50),
	slider-min:        map-get($lifx-foreground, 50),
	slider-off:        rgba(white, 0.3),
	slider-off-active: rgba(white, 0.3),
);

$primary: mat-palette($lifx-primary, 200, 50, 400);
$accent: mat-palette($lifx-accent, 200, 50, 500);
$warn: mat-palette($mat-pink, 300, A100, 500);

$lifx-theme: mat-dark-theme((
	color: (
		primary: $primary,
		accent: $accent,
		warn: $warn,
	)
));

@include angular-material-theme($lifx-theme);
@include mat-button-color($lifx-theme);
@include mat-tooltip-color($lifx-theme);

@include lifx-app-theme($lifx-theme);
@include lifx-bulb-theme($lifx-theme);
@include lifx-color-theme($lifx-theme);
@include lifx-icon-toggle-theme($lifx-theme);
@include lifx-knob-theme($lifx-theme);
@include lifx-titlebar-theme($lifx-theme);
