@import "./theme";
@import "./typography";
@import "lib";

*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
}

.mat-icon-button .mat-button-wrapper {
	@include flex(row, center, center);
}
