@import "~@angular/material/theming";

@mixin lifx-color-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$foreground: map-get($config, foreground);
	$background: map-get($config, background);

	.lifx-color {
		// background: mat-color($background, background, 0.667);
	}
}
