<section *ngIf="value?.brightness != null" class="control">
	<label for="{{ id }}_brightness">
		Brightness
	</label>
	<input id="{{ id }}_brightness"
		type="range"
		min="0" [max]="U16_MAX" step="1"
		[ngModel]="value.brightness"
		(ngModelChange)="updateBrightness($event)"
	/>
	<span>{{ value.brightness | u16toFloat | percent }}</span>
</section>

<section *ngIf="$any(value)?.kelvin" class="control">
	<label for="{{ id }}_kelvin">
		Kelvin
	</label>
	<input id="{{ id }}_kelvin"
		type="range"
		min="1500" max="9000" step="50"
		[ngModel]="$any(value).kelvin"
		(ngModelChange)="updateKelvin($event)"
	/>
	<span>{{ $any(value).kelvin }}</span>
</section>
