@import "~@angular/material/theming";

@mixin lifx-knob-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$accent: map-get($config, accent);
	$foreground: map-get($config, foreground);
	$background: map-get($config, background);

	.lifx-knob {
		$host: &;

		&__focus-ripple .mat-ripple-element {
			background: mat-color($accent, $opacity: 0.1);
		}

		&__meter circle {
			&.empty {
				stroke: mat-color($background, 200);
				transition: stroke 100ms linear;

				#{$host}.disabled & {
					stroke: mat-color($background, 400);
				}
			}
			&.filled {
				stroke: mat-color($accent);
				transition: opacity 100ms linear;

				#{$host}.disabled & {
					opacity: 0;
				}
			}
		}

		&__label {
			color: mat-color($foreground, secondary-text);
			transition: color 100ms linear;

			#{$host}.cdk-focused & {
				color: mat-color($foreground, text);
			}
			#{$host}.disabled & {
				color: mat-color($foreground, disabled);
			}
		}
	}
}
