@import "~@angular/material/theming";

@mixin lifx-knob-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$primary: map-get($config, primary);
	$accent: map-get($config, accent);
	$foreground: map-get($config, foreground);

	.lifx-knob {
		$host: &;

		&__knob {
			background: mat-color($primary);
		}
			&__indicator {
				background: mat-color($primary, lighter);
			}

		&__label {
			color: mat-color($foreground, secondary-text);

			#{$host}.cdk-focused & {
				color: mat-color($foreground, text);
			}
		}
	}
}
