@import "~@angular/material/theming";
@import "lib";

.lifx-knob {
	@include flex(center);
	flex-direction: column;
	width: 32px;
	position: relative;
	cursor: grab;

	&:focus {
		outline: none !important;
	}

	&__focus-ripple {
		@include circle(32px);
		position: absolute;
		top: 0;
		overflow: visible;
	}

	&__knob {
		@include circle(32px);
		position: relative;
		overflow: visible;
	}
		&__meter {
			position: absolute;
			top: -8px;
			right: -8px;
			bottom: -8px;
			left: -8px;
			fill: transparent;

			circle {
				stroke-width: 4px;
				transform: rotate(128deg);
				transform-origin: center;

				&.empty {
					stroke-dasharray: 90 200;
				}
				&.filled {
					stroke-dasharray: var(--filled-dasharray);
				}
			}
		}

	&__label {
		max-width: 100%;
		overflow: visible;
		font-size: 12px;
		font-weight: 500;
		transition: color 200ms linear;
	}
}
