@import "~@angular/material/theming";
@import "lib";

.lifx-knob {
	@include flex(column, center);
	width: 32px;
	position: relative;
	cursor: grab;

	&:focus {
		outline: none !important;
	}
	&.disabled {
		pointer-events: none;
	}

	&__focus-ripple {
		width: 100%;
		position: absolute;
		top: 0;
		overflow: visible;
	}

	&__knob {
		@include circle(100%);
		position: relative;
		overflow: visible;
	}
		&__meter {
			@include absolute-fill;
			fill: transparent;

			circle {
				stroke-width: 4px;
				transform: rotate(135deg);
				transform-origin: center;

				&.empty {
					stroke-dasharray: var(--total-dasharray);
				}
				&.filled {
					stroke-dasharray: var(--filled-dasharray);
				}
			}
		}

	&__label {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 12px;
		line-height: 1;
		font-weight: 500;
		white-space: nowrap;
		pointer-events: none;
	}
}
