@import "~@angular/material/theming";

@mixin lifx-bulb-theme($config-or-theme) {
	$config: mat-get-color-config($config-or-theme);
	$background: map-get($config, background);
	$foreground: map-get($config, foreground);

	.lifx-bulb {
		background: mat-color($background, 600);

		&__header {
			mix-blend-mode: screen;
		}
			&__title {
				background: mat-color($background, 600);
				color: mat-color($foreground, secondary-text);
				mix-blend-mode: screen;
			}
			&__last-seen {
				color: mat-color($foreground, disabled);
			}
	}
}
