@import "~@angular/material/theming";
@import "lib";

.lifx-bulb {
	border-radius: 24px;
	position: relative;
	overflow: hidden;

	&__header {
		@include flex(row, center, space-between);
		padding: 12px 24px 0 12px;
		position: relative;
		z-index: 1;
	}
		&__title {
			@include flex(row, center);
			height: 32px;
			padding: 0 16px;
			border-radius: 16px;
			margin: 0;
			font-weight: 500;
		}

		&__toolbar {
			@include flex(row, center);
			gap: 16px;
		}
			&__power-toggle {
				margin-bottom: -8px;
			}

			&__color {
				margin-bottom: -12px;
			}

	&__light-viz {
		@include absolute-fill;
		pointer-events: none;
	}
}
